In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels=df_train[['784']]

In [3]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

In [4]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.image_data_format()
# keras.backend.image_dim_ordering()

'channels_last'

In [5]:
labels=np.array(labels)

In [6]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

In [7]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

In [8]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_train.shape

(143977, 784)

In [10]:
temp=df_train.to_numpy()

In [11]:
X_train = temp.reshape(temp.shape[0], 28, 28, 1)

In [12]:
temp.shape[0]

143977

In [13]:
X_train.shape

(143977, 28, 28, 1)

In [14]:
l=[]
for i in range(47504):
    l.append(np.array(df_train[i:i+1]).reshape(1,28,28))

In [15]:
np.random.seed(7)

In [16]:
len(l[0])

1

In [17]:
X_train.shape

(143977, 28, 28, 1)

In [18]:
model = Sequential()
model.add(Conv2D(32, (3,3), input_shape=(28, 28,1), activation='relu',padding='same'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(13, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [19]:
from keras.models import model_from_json

In [20]:
model.fit(X_train, cat, epochs=10, batch_size=200,shuffle=True,verbose=1)

Epoch 1/10
720/720 [==============================] - 68s 93ms/step - loss: 0.2388 - accuracy: 0.9374
Epoch 2/10
720/720 [==============================] - 64s 90ms/step - loss: 0.0420 - accuracy: 0.9880
Epoch 3/10
720/720 [==============================] - 65s 90ms/step - loss: 0.0243 - accuracy: 0.9927
Epoch 4/10
720/720 [==============================] - 66s 91ms/step - loss: 0.0200 - accuracy: 0.9944
Epoch 5/10
720/720 [==============================] - 66s 92ms/step - loss: 0.0159 - accuracy: 0.9952
Epoch 6/10
720/720 [==============================] - 63s 87ms/step - loss: 0.0134 - accuracy: 0.9960
Epoch 7/10
720/720 [==============================] - 66s 92ms/step - loss: 0.0119 - accuracy: 0.9965
Epoch 8/10
720/720 [==============================] - 65s 90ms/step - loss: 0.0109 - accuracy: 0.9968
Epoch 9/10
720/720 [==============================] - 64s 89ms/step - loss: 0.0100 - accuracy: 0.9971
Epoch 10/10
720/720 [==============================] - 66s 91ms/step - loss: 0.0092 - accuracy: 0.9973

In [21]:
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")